        <script type="text/javascript" src="/scripts/lib/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/scripts/lib/semantic.min.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </body>
</html>