        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">
                        Navigation
                    </h4>
                    <div class="ui inverted link list">
                        <a class="item" href="/">Home</a>
                        <a class="item" href="/about">About</a>
                        <a class="item" href="/contact">Contact</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">
                        Accounts
                    </h4>
                    <div class="ui inverted link list">
                        <a class="item" href="/users/login">Log In</a>
                        <a class="item" href="/users/register">Register</a>
                    </div>
                </div>
                <div class="seven wide column right floated">
                    <h4 class="ui inverted header">
                        Blogger
                    </h4>
                    <p>
                        Your number one stop for top Articles.
                    </p>
                </div>
                </div>
                <div class="ui inverted section divider"></div>
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">&copy; Copyright</a><a class="item" href="/">Blogger</a>
                </div>
            </div>
        </div>
        <style type="text/css">
            .ui.footer.segment {
                margin: 5em 0em 0em 0em;
                padding: 5em 0em;
            }
        </style>
        <script type="text/javascript" src="/scripts/lib/jquery.min.js"></script>
        <script type="text/javascript" src="/scripts/lib/semantic.min.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </body>
</html>