<% include partials/head %>

    <header class="ui masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="ui main text container">
            <div class="row">
                <div class="introduction">
                    <div class="site-heading">
                        <h1 class="ui inverted header library">Blogger</h1>
                        <span class="subheading tagline">The Best Blogging Website Ever!!</span>
                        <p class="divider"></p>
                        <a href="/posts" class="ui huge inverted basic button">See Our Top Posts</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

<% include partials/footer %>