<% include ../partials/head %>

    <h2 class="ui container change">This is the profile page</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="/img/sauna.jpg">
        </div>
        <div class="content">
            <a class="header">Elyse</a>
        </div>
    </div>

<% include ../partials/footer %>
